           <br>    </br>
<h1>Список заявок</h1>
<table>
  <tr>
    <th>Имя</th>
    <th>Почтовый адрес</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>Номер телефона</th>
    <th>Инормация о себе</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zayvkas.each do |zayvka| %>
  <tr>
    <td><%= zayvka.name %></td>
    <td><%= zayvka.email %></td>
    <td><%= zayvka.familiya %></td>
    <td><%= zayvka.otchestvo %></td>
    <td><%= zayvka.nomer_telefona %></td>
    <td><%= zayvka.info_O_sebe %></td>
    <td><%= link_to 'Удалить', zayvka, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая заявка', new_zayvka_path %>
