<div class="center hero-unit">
<%= form_for(@zayvka) do |f| %>
    <% if @zayvka.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@zayvka.errors.count, "error") %> prohibited this zayvka from being saved:</h2>

          <ul>
            <% @zayvka.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


      <h2>Ваши контактные данные</h2>
      <br>
      <div class="row-fluid">
        <div class="span1 offset1">
          <h5>Ваше имя:</h5>
        </div>
        <div class="span10">
          <%= f.text_field :name, id:"user_initials" %> <br>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span1 offset1">
          <h5>Отчество</h5>
        </div>
        <div class="span10">
          <%= f.text_field :otchestvo, id:"user_initials" %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span1 offset1">
          <h5>Фамилия</h5>
        </div>
        <div class="span10">
          <%= f.text_field :familiya, id:"user_initials" %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span1 offset1">
          <h5>Телефон:</h5>
        </div>
        <div class="span10" >
          <%= f.text_field :nomer_telefona, id:"user_phone" %> <br>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span1 offset1">
          <h5>Email</h5>
        </div>
        <div class="span10">
          <%= f.text_field :email, id:"user_email"   %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span1 offset1" >
          <h5>О себе</h5>
        </div>
        <div class="span10">
          <%= f.text_field :info_O_sebe %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span2 offset4" >
      <%= f.submit 'Оставить запрос', class: 'btn btn-info btn-large', id:"submit_user_form"  %>
        </div>
      </div>

<% end %>
  </div>
